<ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
                <a class="nav-link" asp-controller="Haircut" asp-action="Index">Create and edit content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="ListBook">List of book</a>
            </li>
        </ul>