<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .navbar-nav > li > .nav-link:hover {
            color: #007bff;
        }

        .navbar-nav > li > .nav-link:focus {
            color: #007bff;
        }

        .navbar-nav .dropdown-menu {
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication6.styles.css" asp-append-version="true" />
</head>

<body>

    <header
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="display: flex; justify-content: space-between"
>
  <div>
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" asp-controller="Haircut" asp-action="List">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="CreateBook">CreateBook</a>
      </li>
    </ul>
  </div>
        <h1>Hair salon of hope</h1>
  <div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        @if (User.IsInRole("admin")) {
        <a class="nav-link" asp-controller="Admin" asp-action="Display">Admin Page</a>
        }
      </li>
      <li class="nav-item">
        @if (string.IsNullOrEmpty(User.Identity.Name)) {
        <a class="nav-link" href="/UserAuthentication/Login">Login</a>
        }
      </li>
      @if (!string.IsNullOrEmpty(User.Identity.Name)) {
      <li class="nav-item">
        <a class="nav-link" href="/UserAuthentication/ChangePassword"> ChangePassword </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/UserAuthentication/Logout"> Logout </a>
      </li>
      }
                <li class="nav-item">
                    <a class="nav-link" href="/Haircut/ComentList"> ComentList </a>
                </li>
    </ul>
  </div>
</header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer  >
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
