@{
    ViewData["Title"] = "Create";
}



<form asp-action="Create">
  <div class="form-row">
    <div class="col">
      <input type="datetime-local" name="book"  >
    </div>
    <div class="col">
      <input type="text" name="firstname" >
    </div>
    <div class="col">
      <input type="text" name="secondname"  >
    </div>
    <div class="col">
      <input type="text" name="phonenumber"  >
    </div>
  </div>
  <input type="submit"  >
</form>
