@model WebApplication6.Models.Book

@{
    ViewData["Title"] = "CreateBook";
}

<h1>CreateBook</h1>

<h4>Book</h4>








<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="HaircutIdforBook">Select a Haircut:</label>
                <select class="form-control" id="HaircutIdforBook" name="HaircutIdforBook">
                    @foreach (var haircut in ViewBag.Haircut)
                    {
                        <option title="Виберіть стрижку" value="@haircut.Id">@haircut.Name</option>
                    }
                </select>
            </div>
            
            @if (!string.IsNullOrEmpty(User.Identity.Name))
            {
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" value="@User.Identity.Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondName" class="control-label"></label>
                    <input asp-for="SecondName" class="form-control" value="@ViewBag.lastName" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNamber" class="control-label"></label>
                    <input asp-for="PhoneNamber" class="form-control" />
                    <span asp-validation-for="PhoneNamber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BookingTime" class="control-label"></label>
                    <input asp-for="BookingTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <textarea asp-for="Note" class="form-control"></textarea>
                    <span asp-validation-for="Note" style="text-align" class="text-danger"></span>

                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondName" class="control-label"></label>
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNamber" class="control-label"></label>
                    <input asp-for="PhoneNamber" class="form-control" />
                    <span asp-validation-for="PhoneNamber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BookingTime" class="control-label"></label>
                    <input asp-for="BookingTime" type="datetime-local" class="form-control" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <textarea asp-for="Note" class="form-control"></textarea>
                    <span asp-validation-for="Note" style="text-align" class="text-danger"></span>

            </div>
            }



            <div class="form-group">
                <input type="submit" style="border:1px ;margin-top:20px;margin-left:30px;" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>








<div>
    <a asp-controller="Haircut" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
